[submodule "nanoarch"]
	path = nanoarch
	url = https://github.com/charasyn/ALTTPSaveFuzzer-nanoarch.git
[submodule "bsnes-libretro"]
	path = bsnes-libretro
	url = https://github.com/charasyn/ALTTPSaveFuzzer-bsnes-libretro.git
